.wrapper {
  display: inherit;
  margin: 0 auto;
}

.card {
  width: 300px;
  padding: 30px 0;
  margin-bottom: 30px;
  margin-right: 20px;
}

.card-title {
  font-size: 30px;
  color: rgb(62, 40, 122);
}

.img_content {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

.text {
  color: rgb(99, 65, 65);
  font-size: 25px;

  .small {
    font-size: 14px;
  }
}
