<div class="wrapper">
  <mat-card class="mat-raised-button card">

    <mat-card-header>
      <mat-card-title class="card-title">{{ item.title }}</mat-card-title>
    </mat-card-header>

    <img src="{{ item.photo }}" alt="Photo of: {{ item.title }}" class="img_content"/>

    <mat-card-content>
      <p>{{ item.description }}</p>
      <p class="text">{{ item.price }} <span class="small">€</span></p>
    </mat-card-content>

    <mat-card-actions >
      <button mat-icon-button color="primary" (click)="$event.stopPropagation()">
        <mat-icon> favorite </mat-icon>
      </button>
    </mat-card-actions>
    
  </mat-card>
</div>


