<div class="modal-dialog">
  <div mat-dialog-content> 
    <h2 mat-dialog-title>{{ data.item.title }}</h2>
  
    <img class="img" src="{{ data.item.photo }}" 
    alt="Photo of sneakers: {{ data.item.title }}" />
  
    <div class="dialog-text">{{ data.item.description }}</div>
    <div class="dialog-price">{{ data.item.price }} 
      <span class="small">$</span>
    </div>
  </div>
  <div mat-dialog-actions >
    <button mat-button mat-dialog-close >Close</button>
    <button mat-button 
      [mat-dialog-close]="true"
      (click)="removeItem()"
      >
      Delete
    </button>
  </div>
</div>
