.modal-dialog {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 370px;
}
.mat-dialog-title {
   font-size: 30px;
   color: rgb(59, 45, 138);
}
.mat-dialog-content {
   text-align: center;
}
.mat-dialog-content img{
   width: 60%;
   height: 150px;
   object-fit: contain;
   margin-bottom: 35px;
}
.dialog-price {
  font-size: 30px;
  color: aqua;
}

.dialog-text {
   color: rgb(59, 45, 138);
  font-size: 20px;
  margin-bottom: 20px;
}

.mat-dialog-actions {
   margin-top: auto;
}

.small {
   font-size: 20px;
   color: rgb(48, 12, 211);
}