* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: sans-serif;
  font-size: 18px;
  color: #000;
  background: #efefef;
}

img {
  width: 100%;
}